<a href="https://colab.research.google.com/github/Marketing-AI/Recommendation-Application/blob/main/mai_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
movies = pd.read_excel('/content/drive/MyDrive/Studium/MAI/Data/movies.xlsx')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure,Animation,Children,Comedy,Fantasy
1        2  ...                   Adventure,Children,Fantasy
2        3  ...                               Comedy,Romance
3        4  ...                         Comedy,Drama,Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
ratings = pd.read_excel('/content/drive/MyDrive/Studium/MAI/Data/ratings_genres.xlsx')
ratings.head()

   movieId  ...                                       genres
0        1  ...  Adventure,Animation,Children,Comedy,Fantasy
1        2  ...                   Adventure,Children,Fantasy
2        3  ...                               Comedy,Romance
3        4  ...                         Comedy,Drama,Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
def getMoviesByGenre(handle):
  movies[handle] = movies['genres'].str.contains(handle)
  moviesByGenre = movies[movies[handle] == True]
  return moviesByGenre

def getRatingsByGenre(handle):
  ratings[handle] = ratings['genres'].str.contains(handle)
  ratingsByGenre = ratings[ratings[handle] == True]
  return ratingsByGenre

def getGenreMean(handle):
  return ratings.loc[ratings[handle] == True, 'rating'].mean()

In [ ]:
allGenres = [
               "Adventure",
               "Action",
               "Animation",
               "Children",
               "Comedy",
               "Crime",
               "Documentary",
               "Drama",
               "Fantasy",
               "Film-Noir",
               "Horror",
               "Musical",
               "Mystery",
               "Romance",
               "Sci-Fi",
               "Thriller",
               "War",
               "Western"
]

In [ ]:
for genre in allGenres:
  getRatingsByGenre(genre)

print("Updated genre columns!")

Updated genre columns!

In [ ]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure,Animation,Children,Comedy,Fantasy
1        2  ...                   Adventure,Children,Fantasy
2        3  ...                               Comedy,Romance
3        4  ...                         Comedy,Drama,Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
ratings.head()

   userId  movieId  rating   timestamp  ... Sci-Fi Thriller    War Western
0       1      296     5.0  1147880044  ...  False     True  False   False
1       1      306     3.5  1147868817  ...  False    False  False   False
2       1      307     5.0  1147868828  ...  False    False  False   False
3       1      665     5.0  1147878820  ...  False    False   True   False
4       1      899     3.5  1147868510  ...  False    False  False   False

[5 rows x 23 columns]

In [ ]:
print("Mean of the individual genre rating:\n")

genreMeans = []

for genre in allGenres:
  currentMean = getGenreMean(genre)
  genreMeans.append(currentMean)
  print('%s:\n\t\t%s' % (genre, currentMean))

Mean of the individual genre rating:

Adventure:
		3.510993814967132
Action:
		3.462556311703249
Animation:
		3.6161512174895267
Children:
		3.431913468188105
Comedy:
		3.4252665270604057
Crime:
		3.6906827221393996
Documentary:
		3.7054794520547945
Drama:
		3.687929636124507
Fantasy:
		3.5046836647798427
Film-Noir:
		3.9143076136944304
Horror:
		3.284471910392345
Musical:
		3.559395301731591
Mystery:
		3.671651880016899
Romance:
		3.550222951128903
Sci-Fi:
		3.476858139817361
Thriller:
		3.5245538716367832
War:
		3.7985176092909074
Western:
		3.5887175721977482